body {
  font-family: "livvic";
}

.front {
  height: 100%;
  width: 100%;
  background-image: url("../img/45880226_1976475782431090_4113142548468334592_o.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

#banner {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 20px;
  width: 100%;
}

#bgevent {
  background-image: url("../img/event.jpg");
  background-size: cover;
  background-position: 50%;
  z-index: -10;
}

#bgfaq {
  height: 100%;
  width: 100%;
  background-image: url("../img/faq.JPG");
  background-size: cover;
  background-position: 50%;
  z-index: -10;
}

.landing_page {
  width: 100%;
  height: 50%;
  padding-left: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: "livvic";
}
@media (max-width :768px){
.logo{
   height : 70;
  }

}


@media (min-width: 769px) {
  .landing_page h1 {
    font-size: 4rem;
  }
.logo{
  width:100;}
  
}

/* .landing_page h1{
	font-size:4rem;

} */
.vert_center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*Navbar Styling*/
.nav_class {
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  background: linear-gradient(135deg, #333333, #000000);
}

#cosmo_bar {
  position: relative;
  padding: auto 10px;
}

.nav-link, .navbar-brand {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #ccc;
}

.nav-link:active {
  color: #aaa;
  font-weight: 900;
}

.active {
  color: #dd4591;
  font-weight: 700;
}

.navbar-brand:hover {
  color: #ccc;
}

/*Navbar ended*/
/*Main Content Starts */
#main {
  width: 100%;
  background-image: url("../img/WhatsApp Image 2019-10-17 at 11.55.01 PM.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  color: white;
  padding: 0;
}

#main:first-child {
  padding-top: 2%;
  padding-bottom: 10%;
}
#main>div{
  height:65%
}

#main:first-child h2 {
  font-size: 3rem;
  padding-top: 15%;
}

#main:first-child p {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  padding: 10px;
}

#about_img {
  padding: 20px;
}

#gallery {
  padding-top: 2%;
  padding-bottom: 50px;
  margin :auto;
}

#gallery > a > img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  background-image: url("../img/saloni.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 5% 20px;
  font-family: "livvic";
}

#sponsors, #counters {
  padding-top: 10%;
  padding-bottom: 10%;
}

#sponsors > div > img {
  display: inline;
  width: 20%;
  margin: 10px;
}

#sponsor .line {
  margin-top: 5%;
}

/* counters */
.counter {
  font-size: 3rem;
  color: pink;
}

.panel {
  background-color: #fefefe;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.panel a {
  color: black;
  text-decoration: none;
}

.panel a:hover, .panel a:active {
  text-decoration: none;
}

.panel .panel-body {
  padding: 30px;
}

#counters .row {
  margin-top: 5%;
}

#counters .row div {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 10px;
  min-height: 200px;
  color: white;
}

#counters .row div p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */
